<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="AHT_AddPassword::level1" 
        title="AHT" 
        translate="title" 
        module="AHT_AddPassword" 
        parent="Magento_Backend::content" 
        sortOrder="50" 
        dependsOnModule="AHT_AddPassword" 
        resource="AHT_AddPassword::level1"/>
      <add id="AHT_AddPassword::level2" 
        title="AddPassword" 
        translate="title" 
        module="AHT_AddPassword" 
        parent="AHT_AddPassword::level1" 
        sortOrder="10" 
        dependsOnModule="AHT_AddPassword" 
        action="addpassword/index" 
        resource="AHT_AddPassword::level1"/>
                
        <add id="AHT_AddPassword::addpassword" 
        title="Add Password" 
        translate="title" 
        module="AHT_AddPassword" 
        sortOrder="50" 
        dependsOnModule="AHT_AddPassword" 
        resource="AHT_AddPassword::addpassword"/>
        
        <add id="AHT_AddPassword::customer"
        title="Edit Password" 
        translate="title" 
        module="AHT_AddPassword" 
        parent="AHT_AddPassword::addpassword" 
        sortOrder="9" 
        dependsOnModule="AHT_AddPassword" 
        action="addpassword/customer" 
        resource="AHT_AddPassword::customer"/>

        <!-- <add id="AHT_AddPassword::addpassword_config" 
        title="Configuration" 
        translate="title" 
        module="AHT_AddPassword" 
        parent="AHT_AddPassword::addpassword" 
        sortOrder="10" 
        dependsOnModule="AHT_AddPassword" 
        action="adminhtml/system_config/edit/section/addpassword" 
        resource="AHT_AddPassword::addpassword_config"/> -->
      
        <!-- <add id="AHT_Blog::greetings" 
        title="Greetings" 
        translate="title" 
        module="AHT_Blog" 
        sortOrder="52" 
        dependsOnModule="AHT_Blog" 
        resource="AHT_Blog::greetings" />

        <add id="AHT_Blog::greetings_helloworld" 
        title="Hello World" 
        translate="title" 
        module="AHT_Blog" 
        parent="AHT_Blog::greetings" 
        sortOrder="12" 
        dependsOnModule="AHT_Blog" 
        action="blog/helloworld" 
        resource="AHT_Blog::greetings" /> -->
    </menu>
</config>
<!-- <?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="
urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AHT_Blog::greetings" 
        title="Greetings" 
        translate="title" 
        module="AHT_Blog" 
        sortOrder="52" 
        dependsOnModule="AHT_Blog" 
        resource="AHT_Blog::greetings" />
        <add id="AHT_Blog::greetings_helloworld" 
        title="Hello World" 
        translate="title" 
        module="AHT_Blog" 
        parent="AHT_Blog::greetings" 
        sortOrder="12" 
        dependsOnModule="AHT_Blog" 
        action="blog/helloworld" 
        resource="AHT_Blog::greetings" />
    </menu>
</config> -->